<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">massilia</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projet_j2e</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="com/pharmasociale/models/DonRecu.hbm.xml" />
        <mapping resource="com/pharmasociale/models/MedRecu.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Admin.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Medicament.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Pharmacie.hbm.xml" />
        <mapping resource="com/pharmasociale/models/DonDistribue.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Donnateur.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Pharmacien.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Beneficiaire.hbm.xml" />
        <mapping resource="com/pharmasociale/models/Utilisateur.hbm.xml" />
        <mapping resource="com/pharmasociale/models/MedDistrib.hbm.xml" />
    </session-factory>
</hibernate-configuration>
